.title {
    text-align: center;
}

#images {
    display: flex;
    justify-content: center;
}

#left-arrow, #right-arrow {
    position: absolute;
    top: 25%;
    transform: translateY(50%);
    z-index: 1;
}

@media (min-width: 375px) {
    #left-arrow, #right-arrow {
        top: 30%;
    }
}

@media (min-width: 420px) {
    #left-arrow, #right-arrow {
        top: 35%;
    }
}

@media (min-width: 480px) {
    #left-arrow, #right-arrow {
        top: 40%;
    }
}

@media (min-width: 580px) {
    #left-arrow, #right-arrow {
        top: 50%;
    }
}

#left-arrow {
    left: 5%
}

#right-arrow {
    right: 5%
}

ul {
    position: relative;
    width: 600px;
    height: 400px;
}

li {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    opacity: 0;
}

li.active {
    opacity: 1;
}

#dots {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.dot {
    position: relative;
    margin: 4px;
    width: 12px;
    height: 12px;
    background-color: #345995;
    border-radius: 50%;
}

.dot.active::before {
    position: absolute;
    content: '';
    top: -1px;
    right: -1px;
    left: -1px;
    width: 14px;
    height: 14px;
    background-color: #477ACC;
    border-radius: 50%;
    z-index: 1;
}
