.slider {
    margin: 0 auto 100px;
}

.slider-title {
    text-align: center;
}

.button {
    font-size: 1.2rem;
}

.button.is-rounded {
    padding-left: 0.8em;
    padding-right: 0.8em;
}

.slider-elements {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
    width: 600px;
    height: 400px;
}

.slider-nav {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(50%);
    z-index: 1;
}

.left-arrow, .right-arrow {
    position: absolute;
}

.left-arrow {
    left: 5%;
}

.right-arrow {
    right: 5%;
}

.slider-element {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    opacity: 0;
}

.slider-element.active {
    opacity: 1;
}

.slider-dots {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 100%;
    width: 100%;
}

.slider-dot-btn {
    position: relative;
    margin: 4px;
    padding: 0;
    width: 12px;
    height: 12px;
    border: 0;
    cursor: pointer;
    background-color: #345995;
    border-radius: 50%;
}

.slider-dot-btn:focus {
    outline: none;
}

.slider-dot-btn.active::before {
    position: absolute;
    content: '';
    top: -1px;
    right: -1px;
    left: -1px;
    width: 14px;
    height: 14px;
    background-color: #477ACC;
    border-radius: 50%;
    z-index: 1;
}
